<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>APP</title>
</head>
<body>
<div class="container" th:object="${customer}">
    <h2>Customer List</h2>
    <table class="table">
        <thead class="thead-dark block">
        <tr>
            <th>Challenge</th>
            <td th:text="${customer.getCulturalChallenge.getName}"></td>
            <th th:text="${customer.getCulturalChallenge.getDescription}"></th>
            <th>Show</th>
            <th>Delete</th>

        </tr>
        </thead>
        <th scope="row">
            <tr th:each="customer : ${customers}">

                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td><a th:text="Show" class="btn btn-success btn-block" th:href="@{'/customer/' + ${customer.id}}"></a></td>
                <td><a th:text="Delete" class="btn btn-danger btn-block" th:href="@{'/delete/' + ${customer.id}}"></a></td>
            </tr>
        </th>
    </table>
</div>
</body>
