<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: header"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>APP</title>
</head>
<body>
<div class="container" th:object="${challenge}">
    <h2>Customer List</h2>
    <table class="table">
        <thead class="thead-dark block">
        <tr>
            <th>Challenge</th>
            <td th:text="${'Po Caralho'}"></td>
            <th th:text="${'CAi po caralho'}"></th>
            <th>Show</th>
            <th>Delete</th>

        </tr>
        </thead>

    </table>
</div>
</body>
